* {
    padding: 1px;
    margin: 1px;
}

.body-container{
    border: 2px solid black;
    padding-top: 25%;
    padding-bottom: 25%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
}

.button-container{
    border: 2px solid black;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.horizontal{
    border: 2px solid black;
    padding: 5px;
}

.btn{
    border: 2px solid black;
    padding: 5px;
    max-height: fit-content;
    max-width: fit-content;
}
.rock{
    border: 2px solid black;
    padding: 5px;
    background-color: brown;
}
.paper{
    border: 2px solid black;
    padding: 5px;
    background-color: blue;
}
.scissors{
    border: 2px solid black;
    padding: 5px;
    background-color: pink;
}


.output-container{
    border: 2px solid black;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score{
    border: 2px solid black;
    padding: 5px;
}

.player1{
    border: 2px solid black;
    padding: 5px;
}

.player2{
    border: 2px solid black;
    padding: 5px;
}

.winner{
    border: 2px solid black;
    padding: 5px;
}